<div class="text-center">
  <h1>Yours created characters</h1>
  <br>
    <% @user_characters.each do |character| %>
    <div>
        <%= link_to character.name, character %>
        <td><%= link_to 'Show', character, class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_character_path(character), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
    </div>
    <% end %>
</div>
