<div class="text-center">
<h1>Create New Character</h1>
<%= render 'new_attribute', character: @character, remote: true %>
<br>
<%= link_to 'Back', characters_path, :class => "btn btn-success"  %>
</div>
