@import "bootstrap/scss/bootstrap";

body {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.characters {
  margin-left: auto;
  margin-right: auto;
}

.user-account{
 text-align: center;
}

.nav-item {
padding-right: 5px;
font-size: 80%;
}

.navbar-text {
font-style: italic;
color: #AC6574! important;
font-size: 80%;
}

#error_explanation {
  color: red;
}
