@import "bootstrap/scss/bootstrap";

body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.characters {
  margin-left: auto;
  margin-right: auto;
}

.user-account{
 text-align: center;
}

.pagination {text-align: center;}
